body{    
    background: linear-gradient(90deg, #1A2226 0%, #363D40 50%, #1A2226 100%);
    font: normal 12pt calibri;
    color: white;
    text-align: center;    
}

#calc{
    width: 340px;
    border: 1pt;
    border-color: rgb(194, 194, 194);
    border-radius: 10pt;
    border-style: inset;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #1A2226;
    box-shadow: 10px 10px 8px #1A2226;
}

#sec_display{
    padding-bottom: 20px;
    
}

#sec_memory{
    padding-bottom: 5px;
}

#lbl_display{    
    font-size: xxx-large;
    font-weight: 700;
    color: white;
    text-align: right;    
    width: 285px;    
    padding: 2px;
    padding-right: 10px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#lbl_operacao{
    display: inline-block;
    padding-right: 10px;
    width: 300px;    
    text-align: right;    
    color: #6b7377;
}

[type=text]{
    background-color: #1A2226;
    text-align: right;
    width: 300px;
    padding: 2px;
    border-style: none;    
}

[type=button]{
    width: 75px;
    height: 50px;
    border-radius: 4px;
    border-style: none;
    background-color: #363D40;
    color: white;
    font-size: large;
    margin-top: 3px;    
}

[type=button]:hover{
    background-color: #2D3438;
}

.operator{
    background-color: #2D3438;
    font-weight: 100;
    font-family: Calibri;
}

.operator:hover{
    background-color: #363D40;
}

.calc{
    background-color: #85CBCE;
    color: #2D3438;    
}

.calc:hover{
    background-color: #61a8aa;
}

.memory{
    width: 50px;
    height: 20px;
    background-color: transparent;
    font-size: small;
}